.notebookPaper {
  @apply relative mx-auto my-4 bg-white pb-1 pt-1 shadow-[0_0_5px_0_#888];
}

.notebookPaper::before {
  content: '';
  @apply absolute left-8 top-0 h-full w-1 bg-red-600;
}

.notebookPattern {
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  @apply h-full;
}

.notebookContent {
  word-spacing: 5px;
  @apply pl-16 pr-8 pt-2 leading-4 tracking-normal;
}
